<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Dispensables</title>
    <link rel="stylesheet" href="../styles/dispensables.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-... (hash value) ..." crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+25&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <img src="logo.png" alt="VerVyn" class="logo">
            <ul class="menu">
                <li><a href="../views/index.html" class="btn btn-skeumorphic">Home</a></li>
                <li><a href="#change-preventers" class="btn btn-skeumorphic">The Change Preventers</a></li>
                <li><a href="../views/dispensables.html" class="btn-now">The Dispensables</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-container">
        <h1 class="title">The Dispensables</h1>
        <p> "Dispensable" merujuk pada segala sesuatu yang tidak perlu dan tidak dibutuhkan, dan ketiadaannya akan membuat kode menjadi lebih bersih, lebih efisien, dan lebih mudah dipahami.</p>
        <div class="buttons-container">
            <div class="button">
                <div class="button-content">
                    <i class="fas fa-code"></i>
                    <p><a href="#comments">Comments</a></p>
                </div>
            </div>
            <div class="button">
                <div class="button-content">
                    <i class="fas fa-bug"></i>
                    <p><a href="#duplicate-code">Duplicate Code</a></p>
                </div>
            </div>
            <div class="button">
                <div class="button-content">
                    <i class="fas fa-bed"></i>
                    <p><a href="#lazy-class">Lazy Class</a></p>
                </div>
            </div>
            <div class="button">
                <div class="button-content">
                    <i class="fas fa-cogs"></i>
                    <p><a href="#data-class">Data Class</a></p>
                </div>
            </div>
            <div class="button">
                <div class="button-content">
                    <i class="fas fa-times"></i>
                    <p><a href="#dead-code">Dead Code</a></p>
                </div>
            </div>
            <div class="button">
                <div class="button-content" >
                    <i class="fas fa-search"></i>
                    <p><a href="#speculative-generality">Speculative Generality</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="comments">
        <h1>Comments</h1>
        <div class="explanation-solution">
            <div class="explanation">
                <h2>Penjelasan</h2>
                <div class="illustration">
                    <img src="illustration-explanation-comments.jpg" alt="Illustration for explanation">
                </div>
                <blockquote>
                    <p>"Niatan baik malah dianggap sampah. Emang kalian jahat banget ya? Aku cuman ingin membuat petunjuk disini.."</p>
                </blockquote>
                <p> Tahukah kamu? Kalau dalam pembuatan nama variable, method, class, maupun interface, sudah harus bisa menjelaskan apa isi dari masing-masing tindakannya. Comment masih dapat digunakan untuk dokumentasi API seperti di bawah ini</p>
                <div class="illustration">
                    <img src="../assets/masalah-comments.png">
                </div>
                <p>Ini adalah paragraf penjelasan lainnya.</p>
            </div>
            <div class="solution">
                <h2>Penyelesaian</h2>
                <div class="illustration">
                    <img src="illustration-solution-comments.jpg" alt="Illustration for solution">
                </div>
                <p>Ini adalah paragraf penyelesaian.</p>
            </div>
        </div>
    </div>

    <div id="duplicate-code">
        <h1>Duplicate Code</h1>
        <div class="explanation-solution">
            <div class="explanation">
                <h2>Penjelasan</h2>
                <div class="illustration">
                    <img src="illustration-explanation-comments.jpg" alt="Illustration for explanation">
                </div>
                <blockquote>
                    <p>"Ini adalah kutipan dengan tanda petik yang berbeda ukuran dan fontnya."</p>
                </blockquote>
                <p>Ini adalah paragraf penjelasan.</p>
                <div class="illustration">
                    <img src="../assets/masalah-comments.png">
                </div>
                <p>Ini adalah paragraf penjelasan lainnya.</p>
            </div>
            <div class="solution">
                <h2>Penyelesaian</h2>
                <div class="illustration">
                    <img src="illustration-solution-comments.jpg" alt="Illustration for solution">
                </div>
                <p>Ini adalah paragraf penyelesaian.</p>
            </div>
        </div>
    </div>

    <div id="lazy-class">
        <h1>Lazy Class</h1>
        <div class="explanation-solution">
            <div class="explanation">
                <h2>Penjelasan</h2>
                <div class="illustration">
                    <img src="illustration-explanation-comments.jpg" alt="Illustration for explanation">
                </div>
                <blockquote>
                    <p>"Ini adalah kutipan dengan tanda petik yang berbeda ukuran dan fontnya."</p>
                </blockquote>
                <p>Ini adalah paragraf penjelasan.</p>
                <div class="illustration">
                    <img src="../assets/masalah-comments.png">
                </div>
                <p>Ini adalah paragraf penjelasan lainnya.</p>
            </div>
            <div class="solution">
                <h2>Penyelesaian</h2>
                <div class="illustration">
                    <img src="illustration-solution-comments.jpg" alt="Illustration for solution">
                </div>
                <p>Ini adalah paragraf penyelesaian.</p>
            </div>
        </div>
    </div>

    <div id="data-class">
        <h1>Data Class</h1>
        <div class="explanation-solution">
            <div class="explanation">
                <h2>Penjelasan</h2>
                <div class="illustration">
                    <img src="illustration-explanation-comments.jpg" alt="Illustration for explanation">
                </div>
                <blockquote>
                    <p>"Ini adalah kutipan dengan tanda petik yang berbeda ukuran dan fontnya."</p>
                </blockquote>
                <p>Ini adalah paragraf penjelasan.</p>
                <div class="illustration">
                    <img src="../assets/masalah-comments.png">
                </div>
                <p>Ini adalah paragraf penjelasan lainnya.</p>
            </div>
            <div class="solution">
                <h2>Penyelesaian</h2>
                <div class="illustration">
                    <img src="illustration-solution-comments.jpg" alt="Illustration for solution">
                </div>
                <p>Ini adalah paragraf penyelesaian.</p>
            </div>
        </div>
    </div>

    <div id="dead-code">
        <h1>Dead Code</h1>
        <div class="explanation-solution">
            <div class="explanation">
                <h2>Penjelasan</h2>
                <div class="illustration">
                    <img src="illustration-explanation-comments.jpg" alt="Illustration for explanation">
                </div>
                <blockquote>
                    <p>"Ini adalah kutipan dengan tanda petik yang berbeda ukuran dan fontnya."</p>
                </blockquote>
                <p>Ini adalah paragraf penjelasan.</p>
                <div class="illustration">
                    <img src="../assets/masalah-comments.png">
                </div>
                <p>Ini adalah paragraf penjelasan lainnya.</p>
            </div>
            <div class="solution">
                <h2>Penyelesaian</h2>
                <div class="illustration">
                    <img src="illustration-solution-comments.jpg" alt="Illustration for solution">
                </div>
                <p>Ini adalah paragraf penyelesaian.</p>
            </div>
        </div>
    </div>

    <div id="speculative-generality">
        <h1>Speculative Generality</h1>
        <div class="explanation-solution">
            <div class="explanation">
                <h2>Penjelasan</h2>
                <div class="illustration">
                    <img src="illustration-explanation-comments.jpg" alt="Illustration for explanation">
                </div>
                <blockquote>
                    <p>"Ini adalah kutipan dengan tanda petik yang berbeda ukuran dan fontnya."</p>
                </blockquote>
                <p>Ini adalah paragraf penjelasan.</p>
                <div class="illustration">
                    <img src="../assets/masalah-comments.png">
                </div>
                <p>Ini adalah paragraf penjelasan lainnya.</p>
            </div>
            <div class="solution">
                <h2>Penyelesaian</h2>
                <div class="illustration">
                    <img src="illustration-solution-comments.jpg" alt="Illustration for solution">
                </div>
                <p>Ini adalah paragraf penyelesaian.</p>
            </div>
        </div>
    </div>
</body>

<script src="../scripts/scroll-behavior.js"></script>

</html>
