* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: #272727;
    color: #fff;
}


.navbar {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    border-radius: 20px;
    z-index: 1000;
    padding: 20px 25px; 
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}
.logo {
    width: 30px;
}
.menu {
    list-style: none;
    display: flex;
}
.menu li {
    margin-right: 20px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #242424;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.menu .btn-now{
    background-color: #ffffff;
    color: #242424;
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}
.menu a:hover {
    background-color: #000000;
    box-shadow: 0 5px 15px rgba(64, 64, 64, 0.5);
}
.menu .btn-now:hover{
    background-color: #ffffff;
    color: #242424;
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: #111;
    height: 100vh;
    padding-top: 12%;
}
h1{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.subtitle{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #8d8d8d;
    padding-top: 2%;
    opacity: 50%;
}
.hero-left {
    flex: 1;
    text-align: left;
    width: 100%;
    margin-left: 2%;
    height: 200px;
    justify-content: space-between;
}
.hero-right {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin-right: 2%;
}
.hero-box-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-box {
    width: 300px;
    height: 270px;
    margin-bottom: 20px;
}
.hero-box img{
    width: 290px;
    height: 270px;;
}
.cta-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.cta-button {
    padding: 15px 0;
    width: 97%;
    border-radius: 10px;
    border: none;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.cta-button:hover {
    color: #fff;
    background-color: #242424;
    transform: scale(0.97);
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}


.contents {
    text-align: center;
    margin: 2% 20px;
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.content-title {
    font-size: 3rem;
    width: 100%;
    margin-bottom: 1%;
}
.card {
    width: 45%;
    max-width: 300px;
    background-color: #333;
    padding: 30px;
    border-radius: 20px;
    margin: 0 30px;
    transition: transform 0.3s ease;
}
.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-image {
    width: 100%;
    height: 50%;
    border-radius: 5%;
    object-fit: cover; /* Agar gambar sesuai dengan area yang diberikan */
}
.card-details {
    text-align: left;
}
.card-title {
    margin-top: 5%;
    font-size: 1.5rem;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card:hover {
    transform: scale(0.95);
    cursor: pointer;
}
.card p {
    font-size: 0.7rem;
    margin-top: 2%;
    opacity: 0.5;
    text-align: justify;
}


.footer {
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    margin-top: 3%;
}
.footer p {
    opacity: 0.7;
}
.referensi{
    margin-top: 1%;
}
.referensi p{
    font-size: 10px;
    color: #7e7e7e;
}
.referensi a{
    text-decoration: none;
    color: #7e7e7e;
    font-size: 12px;
}


.menu-toggle {
    display: none;
}


@media only screen and (max-width: 768px) {
    .nav-container {
        justify-content: space-between;
    }
    .menu {
        display: none;
        height: 200px;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000000;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(64, 64, 64, 0.5);
        z-index: 999;
        display: none;
    }
    .menu.show-menu {
        display: flex;
    }
    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .menu a {
        padding: 10px 15px;
        border-radius: 10px;
    }
    .menu .btn-now {
        background-color: #ffffff;
        color: #242424;
        box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
    }
    .menu a:hover {
        background-color: #000000;
        box-shadow: none;
    }
    .menu .btn-now:hover {
        background-color: #ffffff;
        color: #242424;
        box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    .hero {
        padding: 100px 20px;
        height: auto;
        flex-direction: column;
    }
    .hero-left,
    .hero-right {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .hero-right {
        margin-top: 20px;
    }
    .hero-box-container {
        flex-direction: row;
        align-items: center;
    }
    .hero-box {
        width: 70%;
        height: auto;
        margin-bottom: 20px;
    }
    .hero-box img {
        width: 70%;
        height: auto;
    }
    .cta-button {
        width: 90%;
    }
    .contents {
        margin: 5% 10px;
    }
    .card {
        width: 45%;
        height: 100%;
        max-width: none;
        margin: 0 auto 10px;
        padding: 10px; 
    }
    .card-details {
        text-align: justify;
    }
    .card-image {
        width: 100%;
        height: 100%; /* Mengurangi tinggi gambar agar proporsional */
    }
    .card h3{
        font-size: 1rem;
    }
    .card p {
        font-size: 0.5rem;
    }
}

